h1 {
 font-family:Monaco,Georgia,Times,serif;
 text-align: center;
}
p{font-family:Monaco,Georgia,Times,serif;

}

#barra a{
  text-align: center;
  padding: 1em;
  border: 1px solid #CCC;
  font-family:Monaco,Georgia,Times,serif;
  word-spacing: 5px;  
  background-color: grey; 
  color: #f2f2f2;
  text-decoration:none; 
}

#barra a:hover
{
    color:#7FFFD4;
    text-decoration: underline;
}

#fondo
{
background: rgb(60,52,187);
background: linear-gradient(3deg, rgba(60,52,187,1) 0%, rgba(89,129,201,1) 19%, rgba(128,234,255,1) 100%);
}

#contenedor{
    background-color:  ghostwhite;
    border-radius: 50px;
    padding: 25px;
    margin-top: 30px;
    line-height: 30px;
    
}
table 
{ 
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 15px 2px;
  border: none;
}
 
.formulario
{
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}

#center
{
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 

}
